<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
<div class="container" ng-app="AToZ" ng-controller="AZ as az">
	<h1> 
		Search For Topic To Edit 
		<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
  			<i class="glyphicon glyphicon-plus"></i> Add New Topic
		</button>
	</h1>
	<div class="rangeContainer">
		<span class="heading">Choose Range:</span>
		<span class="range btn btn-md btn-primary" ng-click="az.getTopics('A','E')">A-D</span>
		<span class="range btn btn-md btn-primary" ng-click="az.getTopics('E','K')">E-J</span>
		<span class="range btn btn-md btn-primary" ng-click="az.getTopics('K','S')">K-R</span>
		<span class="range btn btn-md btn-primary" ng-click="az.getTopics('S','Z')">S-Z</span>
	</div>
	<form ng-submit="az.search(data.search)">
		<div class="input-group searchGroup">
			<span class="input-group-btn">
				<button class="btn btn-md btn-success searchBtn" >Search</button>
			</span>
			<input type="text" class="form-control search" ng-model="data.search" placeholder="begin typing to filter results or click 'Search' to scan database">
		</div>
	</form>
	<div ng-show="az.narrowed" class="topicContainer">
		<div ng-show="az.loading" class="text-center">
			<div class="loader"></div>
		</div>
		<ul ng-hide="az.loading">
			<li class="result" ng-repeat="t in az.topics | filter:data.search">
				<button ng-click="az.edit(t)" class="btn btn-xs btn-info edit">Edit</button>
				<span>{{ t.topic }}</span>
				<ul class="propertyList" ng-if="az.isBeingEdited(t) ">
					<li>
						AKA: {{ az.currentTopic.aka ? az.currentTopic.aka : "-" }} 
						<span class="label label-warning" ng-if="change.aka.length > 0">
							Changing to: {{ change.aka }} 
						</span>
					</li>
					<ul><li><span>Edit AKA:</span><input ng-model="change.aka" type="text" class="form-control edit"></li></ul>
					<li>
						Owner: {{ az.currentTopic.owner ? az.currentTopic.owner : "-" }} 
						<span class="label label-warning" ng-if="change.owner.length > 0">
							Changing to: {{ change.owner }} 
						</span>	
					</li>
					<ul><li><span>Edit Owner:</span><input ng-model="change.owner" type="text" class="form-control edit"></li></ul>
					<li>
						Scope: {{ az.currentTopic.scope ? az.currentTopic.scope : "-" }} 
						<span class="label label-warning" ng-if="change.scope.length > 0">
							Changing to: {{ change.scope }} 
						</span>
					</li>
					<ul><li><span>Edit Scope:</span><input ng-model="change.scope" type="text" class="form-control edit"></li></ul>
					<li>
						Notes: {{ az.currentTopic.notes ? az.currentTopic.notes : "-" }} 
						<span class="label label-warning" ng-if="change.notes.length > 0 && change.notes != az.currentTopic.notes">
							Changing to: {{ change.notes }} 
						</span>
					</li>
					<ul><li><span>Edit Notes:</span><input ng-model="change.notes" type="text" class="form-control edit" ng-value="az.currentTopic.notes"></li></ul>
					<li>
						Program Flow: {{ az.currentTopic.program_flow ? az.currentTopic.program_flow : "-" }} 
						<span class="label label-warning" ng-if="change.program_flow.length > 0">
							Changing to: {{ change.program_flow }} 
						</span>
					</li>
					<ul><li><span>Edit Program Flow:</span><input ng-model="change.program_flow" type="text" class="form-control edit"></li></ul>
					<li>
						PRs Available? {{ az.currentTopic.pr ? "YES" : "NO" }} 
						<span class="label label-warning" ng-if="change.pr">
							Changing to: {{ az.currentTopic.pr ? "NO" : "YES" }} 
						</span>
					</li>
					<ul>
						<li><span>Edit PR Present?</span><input ng-model="change.pr" type="checkbox"> {{ az.currentTopic.pr ? "NO" : "YES" }}</li>
					</ul>
					<li>
						CDC Link: 
						<span ng-bind-html="(az.currentTopic.cdc_link ? az.currentTopic.cdc_link : '-') | linky"></span>
						<span class="label label-warning" ng-if="change.cdc_link.length > 0">
							Changing to: {{ change.cdc_link }} 
						</span>	
					</li>
					<ul><li><span>Edit CDC Link:</span><input ng-model="change.cdc_link" type="text" class="form-control edit"></li></ul>
					<li>
						Spanish Website: {{ az.currentTopic.spanish ? "YES" : "NO" }} 
						<span class="label label-warning" ng-if="change.spanish">
							Changing to: {{ az.currentTopic.spanish ? "NO" : "YES" }} 
						</span>
					</li>
					<ul>
						<li><span>Edit Spanish Website Available?</span><input ng-model="change.spanish" type="checkbox"> {{ az.currentTopic.spanish ? "NO" : "YES" }}</li>
					</ul>
					<button class="btn btn-xs btn-success change" ng-click="az.saveChanges(change, t.id)">Submit Changes</button>
				</ul>
			</li>
		</ul>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h1 class="modal-title text-center" id="myModalLabel">Create New A-Z Entry</h1>
	      </div>
	      <div class="modal-body formContainer">
	      	<div class="alert alert-danger" ng-show="az.error">{{ az.error }}</div>
	      	<div class="alert alert-success" ng-show="az.success">{{ az.success }}</div>
	        <form ng-hide="az.success || az.error" ng-submit="az.make(naz)">
	        	<label>Topic</label>
	        	<input type="text" class="form-control" ng-model="naz.topic">
	        	<label>AKA</label>
	        	<input type="text" class="form-control" ng-model="naz.aka">
	        	<label>Owner</label>
	        	<input type="text" class="form-control" ng-model="naz.owner">
	        	<label>Scope</label>
	        	<input type="text" class="form-control" ng-model="naz.scope">
	        	<label>Notes</label>
	        	<input type="text" class="form-control" ng-model="naz.notes">
	        	<label>Program Flow</label>
	        	<input type="text" class="form-control" ng-model="naz.program_flow">
	        	<label>PR Available?</label>
	        	<input type="checkbox" ng-model="naz.pr" style="margin: 10px;">{{ naz.pr ? 'Yes' : 'No' }}<br/>
	        	<label>CDC Link</label>
	        	<input type="text" class="form-control" ng-model="naz.cdc_link">
	        	<label>Spanish? </label>
	        	<input type="checkbox" ng-model="naz.spanish" style="margin: 10px;">{{ naz.spanish ? 'Yes' : 'No' }}<br/>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" ng-click="az.make(naz)">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
