<div ng-app="MaintainersApp" ng-controller="Maintainer as main">
	<h3> Showing <%= @resolved.titleize %> Requests 
		<a ng-hide="main.resolved" class="btn btn-xs btn-info" href="/maintainers?resolved=true">Show Resolved</a> 
		<a ng-show="main.resolved" class="btn btn-xs btn-info" href="/maintainers?resolved=false">Show Unresolved</a> 
	</h3>
	<div class="row headerRow" >
		<div class="col-xs-1">Admin Status</div>
		<div class="col-xs-1">Request Details</div>
		<div class="col-xs-2 pad">Type</div>
		<div class="col-xs-2 pad">Title</div>
		<div class="col-xs-1 pad">Link</div>
		<div class="col-xs-2 pad" style="margin-left: 30px;">Body</div>
		<div class="col-xs-2 pad">Updated</div>
	</div>
	<div ng-show="main.loading" class="loader"></div>
	<div ng-hide="main.loading">
		<div class="row mRow" ng-repeat="m in main.all">
			<div class="col-xs-1">
				<button ng-click="main.toggleResolved(m)" ng-class="m.resolved ? 'btn btn-xs btn-success' : 'btn btn-xs btn-danger' ">
					<i ng-class="m.resolved ? 'fa fa-check-square-o' : 'fa fa-exclamation-circle' "></i>
					{{ m.resolved ? "Resolved" : "Unresolved" }}
				</button>
			</div>
			
			<div class="col-xs-1">
				<button ng-click="main.setCurrent(m)" data-toggle="modal" data-target="#myModal" style="width: 100%;" class="btn btn-xs btn-primary">
					Details
				</button>
			</div>
			<div class="col-xs-2">
				{{ m.type }}
			</div>
			<div class="col-xs-2">
				{{ m.title }}
			</div>
			<div class="col-xs-1">	
				<p ng-if="!m.url">No Attch.</p>
				<a ng-if="m.url" class="btn btn-xs btn-info" target="_blank" ng-href="{{ m.url }}">Doc 1</a>
				<a ng-if="m.url2" class="btn btn-xs btn-info" target="_blank" ng-href="{{ m.url2 }}">Doc 2</a>
				<a ng-if="m.url3" class="btn btn-xs btn-info" target="_blank" ng-href="{{ m.url3 }}">Doc 3</a>
			</div>
			<div ng-bind-html="m.body | parseUrlFilter:'_blank':true" class="col-xs-2 mBody">	
			</div>
			<div class="col-xs-2">	
				{{ m.updated_at }}
			</div>
		</div>
	</div>
	<!-- Modal -->
	<maintainer maintainer="main.current" on-save="main.submitChanges(data)"></maintainer>
	
</div>
