<style>
	
	label{
		display: block;
	}
	select{
		width: 200px;
		font-size: 1.4em;
		display: block;
	}
	.alert{
		padding: 5px;
		margin-top: 5px;
	}
</style>
<script type="text/javascript">
	
var user_app = angular.module("UserApp", []);

user_app.directive("loader", function(){
	return {
		restrict: "E",
		scope: {
			loading: "=", // boolean that determines whether to show spinner
			size: "@"
		},
		template: '<i ng-show="loading" class="fa fa-circle-o-notch fa-spin"></i>',
		link: function(scope, el, attrs){
			console.log("Loading", scope.loading);
			el.css("font-size", scope.size);
		}
	}
});

user_app.controller("NewUser", ['$scope','$http', function($scope,$http){
	var u = this;
	u.init = false;
	u.loading = {
		lobs: false
	}

	u.create = function(user, update){
		u.error = null;
		u.success = null;
		if(update)
			params = { user: user, update: true }
		else
			params = { user: user }
		$http.post("/ske/user", params).success(function(resp){
			if(resp.status == 0){
				u.success = user.first_name+" "+user.last_name+" created successfully!"
			}
			else{
				if(resp.error == "exists")
					if(confirm("This user exists, would you like to update them with this info?")){
						u.create(user, true);
					}
				else
					u.error = resp.error;
			}
		});
	}
	u.getLobTitles = function(client){
		u.loading.lobs = true;
		$http.get("/clients/"+client.trim()+"/lob-titles").success(function(resp){
			u.lobs = resp.lobs;
			u.titles = resp.titles;
			u.init = true;
			u.loading.lobs = false;
		});
	}
	u.getClients = function(){
		$http.get("/clients").success(function(resp){
			u.clients = resp.clients;
		});
	}
	u.clear = function(){
		u.success = null;
		u.error = null;
		$scope.user = null;
		$scope.userForm.$setPristine();
	}
	u.getClients();
}]);

</script>

<h1 class="text-center">New User</h1>
<div class="formContainer" ng-app="UserApp" ng-controller="NewUser as u">
	<div class="alert alert-warning">
		If the user exists, you will be asked if you would like to update the existing user with this information.
	</div>
	<div class="alert alert-danger" ng-if="u.error"> {{ u.error }} </div>
	<div class="alert alert-success text-center" ng-if="u.success"> {{ u.success }} 
		<button style="display:block;margin-left:auto;margin-right:auto;" class="btn btn-xs btn-default" ng-click="u.clear()">Create Another User</button> 
	</div>
	<form ng-hide="u.success" ng-submit="u.create(user)" name="userForm" novalidate>
		<label>First Name</label>
		<input type="text" class="form-control" ng-model="user.first_name" name="first_name" required>
		<p ng-show="userForm.first_name.$invalid && !userForm.first_name.$pristine" class="help-block">First Name is required.</p>

		<label>Last Name</label>
		<input type="text" class="form-control" ng-model="user.last_name" name="last_name" required>
		<p ng-show="userForm.last_name.$invalid && !userForm.last_name.$pristine" class="help-block">Last Name is required.</p>

		<label>Oracle ID</label>
		<input type="text" class="form-control" ng-model="user.employee_id" name="oracle_id" required>
		<p ng-show="userForm.oracle_id.$invalid && !userForm.oracle_id.$pristine" class="help-block">Oracle ID is required.</p>

		<label>Client</label>
		<select name="client_id" ng-model="user.client_id" ng-change="u.getLobTitles(user.client_id)" required>
			<option ng-repeat="c in u.clients" ng-value="{{c.id}}"> 
				{{ c.name.toUpperCase() }} 
			</option>
		</select>
		<div class="alert alert-info" ng-hide="u.init">Select client to see remaining options.</div>
		<loader loading="u.loading.lobs" size="1em"></loader>
		<p ng-show="userForm.client_id == 0 && !userForm.client_id.$pristine" class="help-block">Client is required</p>
		<div ng-if="u.init && !u.titles" class="alert alert-danger">
			You have no users in the database. Ping Taylor.
		</div>
		<div ng-show="u.titles">
			<label>Title</label>
			<select ng-model="user.title" ng-options="t as t for t in u.titles track by t" required></select>
			<label>LOB</label>
			<select ng-model="user.lob" ng-options="l as l for l in u.lobs track by l" required></select>
			<label>Location</label>
			<input type="text" class="form-control" ng-model="user.location" name="location" required>
			<p ng-show="userForm.location.$invalid && !userForm.location.$pristine" class="help-block">Location is required.</p>

			<div class="text-center">
				<p class="help-block" style="margin-top:10px;">Note: All fields are required!</p>
				<input type="submit" style="margin-top:4px;margin-bottom: 15px;" class="btn btn-sm btn-success" value="Create User" ng-disabled="userForm.$invalid"> 
			</div>
		</div>
	</form>
</div>