<div class="container">
	<h2>Import Fairfax Deadlines</h2>

	<%= form_tag "/fairfax/process/deadlines", multipart: true do %>
	  <%= file_field_tag :file %>
	  <%= submit_tag "Import", class: "btn btn-md btn-success" %>
	<% end %>
</div>